.app-splash-screen {
  background: #eff1f3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  
}

.app-label {
  margin-top: 10rem;
  color: #011627;
  font-size: 1.2rem;
  font-family: "Pacifico", cursive;
}

.app-splash-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-logo {
  margin-left: 5.5rem;
  margin-top: -8rem;
  background: url("../../assets/img/tutorama.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 200px;
}

.app-loader {
  background: url("../../assets/img/load-icon-png-8.png");
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin-top: 80px;
  transition: left 0.5s;
}
