<ion-content>
  <ion-row>
    <h1>Vous avez oublié votre mot de passe ?</h1>
    <p>Cliquez sur le bouton pour recevoir votre mot de passe provisoire par email</p>
  </ion-row>
  <ion-row class="form">
    <ion-col size="12">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="emailer"></ion-input>
    </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-button (click)="sendRequestPass()">Envoyer</ion-button>
  </ion-row>
</ion-content>
