.row-top{
    ion-button{
        margin-top: 3rem;
        margin-left: -2rem;
        --background: none;
        --box-shadow: none;
        ion-back-button {
            display: block;
            margin-left: 1rem;
            margin-top: 3rem;
        }
        ion-icon{
            color: #011627;
        }
        ion-title, .ios ion-title{
            font-size: 1.2rem;
            color: #011627;
        }
    }
}

.ion-text-center{
    width: 100%;
    h1{
        font-size: 0.9rem;
        text-align: center;
        margin-top: 9rem;
        margin-left: 0.5rem;
    }
}


p{
    font-size: 0.7rem;
    font-weight: bold;
}

.btn-psw{
    margin: auto;
    ion-button{
        --background: #011627;

    }
}