ion-back-button {
    display: block;
    margin-left: 1rem;
    margin-top: 3rem;
}

h1{
    font-size: 0.9rem;
    margin-top: 9rem;
    margin-left: 0.5rem;
}

p{
    font-size: 0.7rem;
    font-weight: bold;
}

.btn-psw{
    margin: auto;
    ion-button{
        --background: #243b55;

    }
}