
<ion-content>
  <ion-row>
    <ion-back-button [text]="buttonText" (click)="close()">
      <ion-icon name="arrow-back-outline">Login</ion-icon>
    </ion-back-button>
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <h1>Vous avez oublié votre mot de passe ?</h1>
        </div>
      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row class="form">
    <ion-col size="12">
      <ion-row>
        <div class="btn-psw">
          <ion-button expand="block" (click)="sendRequestPass()">Recevoir</ion-button>
        </div>
      </ion-row>
    </ion-col>
    <ion-col>
      <div class="ion-text-center">
        <p>Cliquez sur le bouton pour recevoir votre mot de passe provisoire par email</p>
      </div>
    </ion-col>
  </ion-row>
  
</ion-content>
