<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      FAQ
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="row-top">
    <ion-col size="3">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <p>Profil</p>
    </ion-col>
    
  </ion-row>
  <ion-row>
    <ion-col size="12" class="row-faq">
      <span>Quelle est l’utilité de Tutorama ?</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="row-faq">
      <span>Une fois connecté, que dois-je faire ?</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="row-faq">
      <span>J’ai oublié mon mot de passe, comment le récupérer ?</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="row-faq">
      <span>Je veux changer une information me concernant, comment dois-je faire ?</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="row-faq">
      <span>Mon application n’est pas visible sur App Store ou Google Play. Comment faire pour qu’elle y soit ?</span>
    </ion-col>
  </ion-row>
</ion-content>
