<ion-header>
  <ion-toolbar>
    <ion-title>profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
    <ion-row class="logo">
      <ion-col size="12" class="ion-align-self-center">
        <div class="avatar">
          <ion-img [src]="avatar" name="add-circle-outline"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="row-top">
        <span>{{email}}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="row-top">
        <ion-icon name="book-outline"></ion-icon>
        <span><a routerLink="/tabs/tuto">Mes tutos</a></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="row-top">
        <ion-icon name="card-outline"></ion-icon>
        <span><a routerLink="/tabs/paiement">Mes paiements</a></span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="row-top">
        <ion-icon name="help-outline"></ion-icon>
        <span (click)="faq()">FAQ</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="row-top">
        <span (click)="info()">À propos de</span> 
      </ion-col>
    </ion-row>
    <ion-row class="btn">
      <ion-col size="12" class="row-top">
        <ion-button (click)="logout()" color="danger" disabled={{disabled}}>Déconnexion</ion-button>
      </ion-col>
    </ion-row>
</ion-content>