ion-content{
    ion-list{
        max-width: 80%;
        margin: auto;
        margin-top: 8rem;
        margin-bottom: 1.5rem;
    }
    ion-button{
        max-width: 80%;
        margin: auto;
        --background: #011627;
    }
}
