<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title>
      À propos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="row-top">
    <ion-col size="3">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col class="profil">
      <p>Profil</p>
    </ion-col>
    <ion-col>
      <img src="../../../assets/img/tutorama.png" alt="tutorama">
    </ion-col>
  </ion-row>
  <ion-row size="12">
    <h1>Kriss Clotilde & Bracq Florian</h1>
    <span class="title">Développeur de Tutorama</span>
  </ion-row>
  <ion-row  class="presentation">
    <ion-col size="6">
      <img src="../../../assets/img/kriss.jfif" alt="Photo de Kriss">
      <span>Kriss</span>
    </ion-col>
    <ion-col size="6">
      <img src="../../../assets/img/flo.jfif" alt="Photo de Florian">
      <span>Florian</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <p class="description"><span>Kriss:</span> Passionné de science et curieux, Kriss est également un très grand fan de Magic (carte à collectionner).&#9828; Ancien joueur de go, ceinture noire de karaté et biochimiste, il a décidé de s'investir à fond dans la programmation informatique et rejoint l'équipe technique !</p>
    
  </ion-row>
  <ion-row>
    <p class="description"><span>Florian:</span> Passionnée par les nouvelles technologies et le développement, j'aime relever des défis et ainsi pouvoir améliorer les interactions du quotidien grâce à des lignes de codes. Mon goût prononcé pour l'écosystème du numérique, le développement, la communication et la création me permettent de travailler et d'interagir avec les équipes internes.</p>
  </ion-row>
</ion-content>
