<ion-app>
  <splash-screen> </splash-screen> 
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="catalog">
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>Catalogue</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tuto">
        <ion-icon name="play-circle-outline"></ion-icon>
        <ion-label>Mes tutos</ion-label>
        <ion-badge>4</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Compte</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
