
<ion-content>

  <ion-row class="logo">
    <img src="../../../assets/img/tutorama.png" alt="">
</ion-row>
      <ion-row class="form">
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">email</ion-label>
              <ion-input type="email" [(ngModel)]="user.email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Nom</ion-label>
              <ion-input type="text" [(ngModel)]="user.nom"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Prénom</ion-label>
              <ion-input type="text" [(ngModel)]="user.prenom"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" [(ngModel)]="user.password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">avatar</ion-label>
              <ion-input type="text" [(ngModel)]="user.avatar" placeholder="Veuillez entrer une url"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">age</ion-label>
              <ion-input type="text" [(ngModel)]="user.age"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Tel</ion-label>
              <ion-input type="text" [(ngModel)]="user.numeroTel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">N° rue</ion-label>
              <ion-input type="text" [(ngModel)]="user.numeroRue"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Batiment</ion-label>
              <ion-input type="text" [(ngModel)]="user.batiment"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Code Postal</ion-label>
              <ion-input type="text" [(ngModel)]="user.code_Postale"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Libellé adresse</ion-label>
              <ion-input type="text" [(ngModel)]="user.libelle"></ion-input>
            </ion-item>
              
          </ion-col>
        </ion-row>
        <ion-row class="row-register">
          <ion-col>

            <ion-button (click)="register()" expand="full">Register</ion-button>
          </ion-col>
        </ion-row>
      <p> <a routerLink="/login">Vous êtes déjà inscrit ? Connectez-vous</a> </p>
  </ion-content>