ion-content{
    
    .form{
        margin-top: 3rem;
        width: 87%;
        
        .goodEmail {
            --border-color: green;
            --highlight-background: green;
        }
        .badEmail {
            --border-color:red;
            --highlight-background: red;
        }
        ion-item{
            --background: #011627;
            font-size: 0.8rem;
            color: #C5C6C7;
        }
    }
    p{
        text-align: center;
        a{
            font-size: 0.8rem;
        }
    }
    .row-register{
        margin: auto;
        margin-top: 1rem;
        ion-button{
            width:  90%;
            border-radius: 3px;
            margin: auto;
            --background: #011627;
            border: 1px solid #45A29E;
        }
    }
}
