ion-content{
    --background: #EFF1F3;
}

h2{
    margin-top: 6px;
    margin-bottom: -2px;
    font-size: 20px;
    margin-left: 7px;
    font-weight: bold;
}

h3{
    font-size: 12px;
    font-weight: bold;
   
}

.cart-length {
    color: var(--ion-color-primary);
    position: absolute;
    top: 23px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }

  ion-slide{
      width: 300px;
  }


    .top-row {
        margin-top: 1.5rem;
        text-align: end;
        ion-button{
            --background: #f15152!important;
        }
    }
    .cart-icon{
        font-size: 2rem;
        margin-right: 1.5rem;
    }


    .row-star{
        margin: auto;
        .btn-star, btn-star ios{
            display: flex;
            align-items: center;
            max-width: 100%;
            font-size: 0.6rem;
            padding-left: 8px;
            padding-right: 11px;
            margin: auto;
            border-radius: 3px;
            background: #243b55;
            
        
    }
}





.card-home-top{
    background-image: url("../../../assets/img/home/student.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    ion-card-title{
        font-size: 1.3rem;
        margin-top: 2.5rem;
        color: white;
    }
    ion-card-content{
        color: #eef0f8;
        font-weight: bold;
        font-size: 0.8rem;
        font-family: Verdana, Arial, Helvetica, sans-serif;
    }
}

.slide1{
    display: flex;
    flex-direction: column;
    
    
    
    
}

.categorie-block{
    margin-top: 0!important;
}

.card-home{
    
    ion-card-header{
        padding-top: 0px  !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        h3{
            margin-top: 4px!important;
            margin-bottom: 2px!important;
            font-size: 15px;
            font-weight: bold;
            color: #243b55;
            
        }
        span{
            font-size: 0.8rem;
            color: #b5732e;
        }
    }


    ion-card-content{
        
        padding-top: 0;
        display: flex;
        flex-direction: column;
        padding-left: 0 !important;
        padding-right: 0!important;
        margin-left: 5px;
            
        cite{
            margin-top: 1rem;
            font-size: 0.6rem;
            display: inline-block;
            margin: left;
            color: #243b55;
        }
        ion-icon{
            color: yellow;
            font-size: 0.8rem;
        }
        
        .card-footer{
            display: flex;
            align-items: center;
            margin-top: 0.2rem;
            
            span{
                font-size: 1rem;
                margin-left: 8px;
                font-weight: bold;
                color: #b5732e;
            }
        }
        span{
            font-size: 0.5rem;
            color: #243b55;
            font-weight: bold;
        }
        
    }
}