
<ion-content [fullscreen]="true">
  <ion-row class="top-row">
    <ion-col size="8"></ion-col>
    <ion-col size="12">
      <ion-button (click)="openCart()" #cart>
          
        <div class="cart-length">
          {{ cartItemCount | async }}
        </div>
        <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>


    <ion-row>
      <ion-card class="card-home-top">
        <ion-card-header>
          <ion-card-title>Réalisez vos rêves !</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Reconversion professionnels, Améliorer ces skills.
          Avec Tutorama vos objectifs seront atteints !
        </ion-card-content>
      </ion-card>
    </ion-row>
      <ion-row class="row-star">
        <ion-button class="btn-star" color="black">
          Formations les mieux notées
        </ion-button>
      </ion-row>
    
    <ion-row style="display: flex; align-items: stretch;">
      <ion-col size="12">
       

        <div class="categorie-block">
          <ion-row no-padding class="category-banner">
            <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
              <h2>Publié récemment</h2>
            </ion-col>
          </ion-row>
          <ion-slides [options]="sliderConfig">
            <ion-slide class="slide1" *ngFor="let cour of cours">
              <ion-card class="card-home">
                
                
              <ion-card-header class="card-body">
                <img [src]="cour.image"/>
              </ion-card-header>
              <ion-card-content>
                <div>
                  <h3>{{ cour.Conetenu }}</h3>
                </div>

                  <ion-row align-self-end>
                    <cite>{{ cour.Auteur }}</cite>
                  </ion-row>
                  <ion-row class="card-footer">
                    <ion-col>
                      <ion-icon name="star-sharp"></ion-icon>
                      <ion-icon name="star-sharp"></ion-icon>
                      <ion-icon name="star-sharp"></ion-icon>
                      <ion-icon name="star-sharp"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                    </ion-col>
                    <ion-col>
                      <span>{{ cour.prix }},00€</span>
                    </ion-col>
                    
                  </ion-row>
                <ion-row>
                  <span>Les avis(12)</span>
                </ion-row>
              </ion-card-content>
            </ion-card>
            </ion-slide>
            
          </ion-slides>
        </div>

      </ion-col>
    </ion-row>
    
</ion-content>
