img{
    max-width: 100%;
    border: 0;
    margin-top: 1rem;
    margin-left: -8.5rem;
}


.ion-text-center{
    font-size: 1.5rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    height: 20vh;
}

.col-close{
    margin-left: 0!important;
}

.amount{
    text-align: center;
}