ion-content{

    img{
        max-width: 100%;
        border: 0;
    }

    ion-list{
        margin-top: 3rem;
        .ion-align-self-center{
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            ion-button{
                ion-icon{
                    color: #243b55!important;
                }
            }
            
        }
        .col-close{
            display: flex;
            justify-content: flex-end;
            ion-button{
                
                ion-icon{
                   
                    color: #E04853; 
                }
            }
        }
        .title{
            
            ion-col{
                font-size: 0.8rem;
            }
            .ion-text-end{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        .ion-text-center{
            font-size: 1.5rem;
            margin-top: 10rem;
            margin-bottom: 5rem;
            height: 20vh;
        }
        
        .amount{
            text-align: center;
        }
        .row-total{
            margin-top: 3rem;
            font-weight: bold;
        }
    }

    ion-button{
        --background: #243b55;
    }

}