<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">avatar</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">age</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">numeroTel</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">numeroRue</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">batiment</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">codePostale</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">libelle</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
